<!DOCTYPE html>
<html lang="en" ng-app="js22">
  <head>
  	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="normalize.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="style.css">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.js"></script>
	<script type="text/javascript" src="dirPagination.js"></script>
	<script type="text/javascript" src="main.js"></script>
	<script type="text/javascript" src="services.js"></script>
	<title>JS22 - Starcraft Rankings</title>
</head>
<body ng-controller="js22Troller">

<div class="stats-panel">
	<div class="stats-cell">
		<h2>Total Players</h2>
		<p>{{totalPlayers()}}</p>
	</div>
	<div class="stats-cell">
		<h2>Games Played</h2>
		<p>{{gamesPlayed()}}</p>
	</div>
	<div class="stats-cell">
		<h2>Race Popularity</h2>
		<p>{{racePopularity()}}</p>
	</div>
</div>

<input type="text" ng-model="search" class="search-box" placeholder="Search">

<table class="sc-table">
	<tr class="sc-table-header">
		<th ng-click="sort(0)">{{columns[0].toUpperCase()}}</th>
		<th ng-click="sort(1)">{{columns[1].toUpperCase()}}</th>
		<th ng-click="sort(2)">{{columns[2].toUpperCase()}}</th>
		<th ng-click="sort(3)">{{columns[3].toUpperCase()}}</th>
		<th ng-click="sort(4)">{{columns[4].toUpperCase()}}</th>
		<th ng-click="sort(5)">{{columns[5].toUpperCase()}}</th>
	</tr>
	<tr class="sc-table-data" dir-paginate="stats in scData|orderBy:sortId:reverse|filter:search|itemsPerPage:20">
		<td>{{stats[0]}}</td>
		<td>{{stats[1]}}</td>
		<td>{{stats[2]}}</td>
		<td>{{stats[3]}}</td>
		<td>{{stats[4]}}</td>
		<td>{{stats[5]}}</td>
	</tr>

</table>

<dir-pagination-controls class="pagination" max-size="5" direction-links="true" boundary-links="true" >
</dir-pagination-controls>
</body>

</html>